# אל תכניס ערכים אמיתיים לקובץ זה
GITHUB_PAGES=false
PORT=4010

# GitHub
GITHUB_TOKEN=

# OpenAI
OPENAI_API_KEY=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Microsoft
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
